<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es" class='no-js'>
<!--<![endif]-->
<head>
  <%- partial("_shared/head", { title: title, description: description }) %>
</head>

<body class=''>
  <header class='header header-home'><%- partial("_shared/header", { title: hero_title, subtitle: hero_subtitle}) %></header>

  <main class='main-content'>

    <%- yield %>

    <footer class='footer'><%- partial("_shared/footer") %></footer>
  </main>

  <%- partial("_shared/footer_js") %>

</body>
</html>
