
<% article = public.blog._data[current.source] %>

<div class='container'>
  <header id='header'>
    <a href="/blog"><img src="/images/blog/logo.svg" /></a>
    <h1 class='title'><%- article.title %></h1>
    <h2 class='subtitle'><%- article.description %>, por <a href="<%- article.author_link %>" rel="nofollow"><%- article.author %></a></h2>
  </header>

  <div class='post-content'>
    <%- yield %>
  </div>

  <div class="post-signup">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
      <form action="//redradix.us6.list-manage.com/subscribe/post?u=3661f2b787a48c03f407f5750&amp;id=ad2dfbe36f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Síguenos en nuestras aventuras, te mantendremos al día.</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3661f2b787a48c03f407f5750_ad2dfbe36f" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Vamos" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>


  <div id="disqus_thread"></div>
  <script>
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://redradix.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
</div>

<div id='footer'>
  <strong><a href="https://redradix.com">redradix</a> &copy; 2017</strong>
</div>
